

<h1>Welcome to the Dictionary</h1>

<h2>lets figure out how to put some words in here</h2>

<a href="/word" class="btn btn-success btn-lg" onclick="ga">words</a>

<a href="/add_word" class="btn btn-warning btn-lg" onclick="ga">Enter a Word</a>
